{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<div class="container">
    <div class="row">
      <table border="0">
      	<tr>
	<td width="450" height="340">
           {{pie_chart.as_html}}
       </td>
       <td width="800" height="340">
           {{bar_chart.as_html}}
       </td>
       </tr>
     

    </table>
    <table>

      <tr>
        <td  width="800" height="200">
            {{line_chart.as_html}}
        </td>
        <td>
        </td>
        </tr>
      </table>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-python.min.js"></script>
</body>